@page
@model CHC.Presentation.Pages.QuotationView.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.EstimatePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.EstimatePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Quotation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
