@page
@model CHC.Presentation.Pages.QuotationView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.EstimatePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.EstimatePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quotation.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
