@page
@model CHC.Presentation.Pages.SupplierView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.FoundedYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.FoundedYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
